:where(.css-dev-only-do-not-override-apn68).ant-btn {
  height: auto;
}

:where(.css-dev-only-do-not-override-apn68).ant-input-outlined {
  background: #ffffff;
  border: none;
  place-items: center;
  width: 30%;
}

.ant-btn.css-dev-only-do-not-override-apn68.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid {
  height: 100px;
  background-color: #db810b;
}
